*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --text-orage: #ff8303;

    --shadow-2xs: 0 1px 2px rgba(134, 144, 162, 0.1);
    --shadow-xs: 0 2px 4px rgba(134, 144, 162, 0.15);
    --shadow-sm: 0 3px 6px rgba(134, 144, 162, 0.2);
    --shadow-md: 0 4px 8px rgba(134, 144, 162, 0.25);
    --shadow-lg: 0 6px 12px rgba(134, 144, 162, 0.3);
    --shadow-xl: 0 12px 24px rgba(134, 144, 162, 0.35);
    --shadow-2xl: 0 24px 48px rgba(134, 144, 162, 0.4);
    
    --shadow-focus: 0 0 0 4px rgba(0, 84, 203, 0.2);
    --shadow-success: 0 0 0 4px rgba(18, 181, 57, 0.2);
    --shadow-warning: 0 0 0 4px rgba(210, 127, 0, 0.2);
    --shadow-danger: 0 0 0 4px rgba(203, 18, 0, 0.2);
    --shadow-info: 0 0 0 4px rgba(0, 200, 177, 0.2);
}

.default-shadow {
    box-shadow: var(--shadow-md);
}

body {
    background-color: #ebebeb;
    /* font-family: 'Source Sans Pro', sans-serif; */
}

.raffle-footer {
}
.logo {
    height: 50px;
}

.footer-logos {
    
}

.icon {
    font-size: 1.8rem !important;
    padding: 0;
    padding: 3px 5px;
}
.banner-img {
    height: 50px;
}
.space {
   margin:0 10px;
}

.navbar-brand {
    
    letter-spacing: 5px;
}
.ruffle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cont {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 12px;
    
}

.index {
    border-radius: 8px;
    margin: 10px;
    height: 300px;
    width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-md);
    
}

.index > h1 {
    color: #0f4c5c;
    font-size: 13rem;
    padding: 0;
    margin: 0;
    
}

/* SIDEBAR Design */

.side-logo {
    height: 150px;
}

.sidenav {
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    /* background-color: #0f4c5c; */
    transition: 0.3s all ease-in;
    margin-left: 0 !important;
    overflow-y: auto !important;
}
.nav-item {
   margin: 0 10px;
}

.nav-link {
    font-size: 1rem;
    padding: 12px;
    border-radius: 23px;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff26;
    border-radius: 23px;
}

.dropdown-menu {
    background-color: #0f4c5c;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #ffffff26;
    color: #fff;
}

.my-container {
    margin-left: 250px !important;
    transition: 0.3s all ease-in;
}

.active-nav {
    margin-left: -300px !important;
}

.active-container {
    margin-left: 0 !important;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


/* CARDS */


.tickets {
    border-radius: 6px;
    border: 1px solid #dfdfdf;
    width: 40vh;
    background-color: #fefefe;
}

.dashboard-board{
    display: flex !important;
    flex-direction: row !important;
    gap: 10px;
    
}

.card-item {
    background-color: #fff6f1 !important;
    margin: 8px 0;
}

.ticket-generator-card {
    width: 600px !important;
}

.border-winner {
    border-left: 3px solid #8fe7be;
    padding: 0 3px;
}

.numbers::-webkit-outer-spin-button,
.numbers::-webkit-inner-spin-button {
    display: none;
}

.text-orange {
    color: #ff8303 !important;
}
.default-shadow {
    box-shadow: var(--shadow-2xs);
}

.ticket-hub {
    display: flex;
    flex-direction: row;
    gap: 10px !important;
}

.ticket-record {
    height: 80vh;
    overflow-x: auto;
}

.kiosk {
    width: 35vw !important;
}

.ticket-record {
    width: 65vw !important;
}

#suggestion-box {
    position: absolute;
    max-height: 50vh !important;
    overflow: hidden !important;
    z-index: 999;

}

.ms-n5 {
    margin-left: -40px;
}

.raffle-page {
    display: flex;
    flex-direction: row;
    gap: 12px
}

.index-card {
    width: 60vw !important;
}



.raffle-card {
    width: 40vw !important;
}


@media only screen and (max-width: 1000px) {

    .ticket-hub {
        flex-direction: column;
        justify-content: center;
    }

    .kiosk, .ticket-record {
        width: 100% !important;
    }
    


    .sidenav {
        margin-left: -300px;
    }
    .my-container{
        margin-left: 0;
    }

    .raffle-page {
        flex-direction: column !important;;
    }
    
    .index-card, .raffle-card {
        width: 100% !important;
    }

    #cont {
        gap: 5px;
    }

    .index {
        margin: 0;
        height: 120px;
        width: 150px;

    }
    .index > h1 {
        font-size: 5rem;
    }

    .ticket-generator-card {
        width: 100% !important;
    }

    .button-group{
        gap: 5px !important;
       
    }
    .dashboard-board{
        flex-direction: column !important;
        width: 100% !important;
    }
    .tickets {
        width: 100% !important;
    }
    .card-item {
        background-color: #fff6f1 !important;
        margin: 8px 0;
    }
}
